﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Supermarket</title>
    <!--SB ADMIN-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    <!--SB ADMIN-->
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        @Html.ActionLink("Supermarket", "Index", "Home", new { area = "" }, new { @class = "navbar-brand mr-1" })
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar -->
        <div class=" ml-auto">
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-user-circle"></i>
                    <span>HR - Offices</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    @Html.ActionLink("Offices", "Index", "Offices", new { area = "" }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Employees", "Index", "Employees", new { area = "" }, new { @class = "dropdown-item" })
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-store"></i>
                    <span>Products - Store</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    @Html.ActionLink("Categories", "Index", "Categories", new { area = "" }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Slots", "Index", "Slots", new { area = "" }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Warehouses", "Index", "Warehouses", new { area = "" }, new { @class = "dropdown-item" })
                    <div class="dropdown-divider"></div>
                    @Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { @class = "dropdown-item" })
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Orders - Customers</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    @Html.ActionLink("Status", "Index", "Status", new { area = "" }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Payments", "Index", "Payments", new { area = "" }, new { @class = "dropdown-item" })
                    <div class="dropdown-divider"></div>
                    @Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Orders", "Index", "Orders", new { area = "" }, new { @class = "dropdown-item" })
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/OrderForms/Create">
                    <i class="fas fa-plus-circle"></i>
                    <span>New Order</span>
                </a>
            </li>
        </ul>
        <div id="content-wrapper" style="padding-left: 20px; padding-right: 20px;">
            @RenderBody()
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="~/Content/js/demo/datatables-demo.js"></script>
    <script src="~/Content/js/demo/chart-area-demo.js"></script>

    <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
