﻿@model Supermarket.Models.Slot

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Slot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.slotName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slotName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

    </dl>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Products List
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Product Price
                            </th>
                            <th>
                                Product Description
                            </th>
                            <th>
                                Product Available
                            </th>
                            <th>
                                Product LIS
                            </th>
                            <th>
                                Last Sold
                            </th>
                            <th>
                                Created Date
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.productName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.productPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.productDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.productAvailable)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.productLnStock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.lastSold)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.createdDate)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", "Products", new { id = item.productCode }, null)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.slotCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
