﻿@model Supermarket.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productLnStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productLnStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse.warehouseAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse.warehouseAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slot.slotName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slot.slotName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
