﻿@model Supermarket.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productLnStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productLnStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse.warehouseAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse.warehouseAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slot.slotName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slot.slotName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
