﻿@model IEnumerable<Supermarket.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Products
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.productName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.productPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.productDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.productLnStock)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.productAvailable)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.productName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.productPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.productDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.productLnStock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.productAvailable)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.productCode }) |
                                @Html.ActionLink("Details", "Details", new { id = item.productCode }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.productCode })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
