﻿@model IEnumerable<ASP.NETMVC5withLambadaExpressions.Models.Book>

@{
    ViewBag.Title = "ShowAfter2000";
}

<h2>ShowAfter2000</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Show All", "Index")
    @Html.ActionLink("Show After 1990", "ShowAfter1990")
    @Html.ActionLink("Show After 2000", "ShowAfter2000")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
