﻿@model Supermarket.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shippedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shippedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.customerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.customerName) |
            @Html.ActionLink("Details", "Details", "Customers", new { id = Model.Customer.customerCode }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.employeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.employeeName) |
            @Html.ActionLink("Details", "Details", "Employees", new { id = Model.Employee.employeeCode }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.statusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.statusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment.paymentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment.paymentName)
        </dd>

    </dl>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Items
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Item Name
                            </th>
                            <th>
                                Item Price
                            </th>
                            <th>
                                Item Quantity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderDeatails)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.productName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.productPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.quantityOrdered)
                                </td> 
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
