﻿@model IEnumerable<Supermarket.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Orders
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.orderDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.shippedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer.customerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Employee.employeeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status.statusName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Payment.paymentName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.orderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.shippedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.customerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.employeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status.statusName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Payment.paymentName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.orderCode }) |
                                @Html.ActionLink("Details", "Details", new { id = item.orderCode })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
