﻿@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
@section Css{
    @RenderSection("Css", required: false)
}
@section Menu{
    <!--================ Offcanvus Menu Area =================-->
    <div class="side_menu">
        <div class="logo">
            <a href="index.html">
                <img src="~/Content/home/img/logo.png" alt="">
            </a>
        </div>
        <ul class="list menu-left">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="packages.html">Packages</a>
            </li>
            <li>
                <div class="dropdown">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                        Pages
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="about-us.html">About-us</a>
                        <a class="dropdown-item" href="amenities.html">Amenities</a>
                        <a class="dropdown-item" href="elements.html">Elements</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                        Blog
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="blog.html">Blog</a>
                        <a class="dropdown-item" href="single-blog.html">Blog Details</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
    <!--================ End Offcanvus Menu Area =================-->
    <!--================ Canvus Menu Area =================-->
    <div class="canvus_menu">
        <div class="container">
            <div class="toggle_icon" title="Menu Bar">
                <span></span>
            </div>
        </div>
    </div>
    <!--================ End Canvus Menu Area =================-->

    <section class="top-btn-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#" class="main_btn">
                        book a table
                        <img src="~/Content/home/img/next.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
}
@RenderSection("Main")
@section Footer{
    <footer class="footer-area">
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Crafted</h6>
                        <p>
                            The world has become so fast paced that people don’t want to stand by reading a page of
                            information, they would
                            much rather look.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Navigation Links</h6>
                        <div class="row">
                            <ul class="col footer-nav">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="project.html">Project</a></li>
                            </ul>
                            <ul class="col footer-nav">
                                <li><a href="team-members.html">Team Members</a></li>
                                <li><a href="blog-single.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>For business professionals caught between high OEM price mediocre print and graphic.</p>
                        <div class="" id="mc_embed_signup">

                            <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                  method="get" class="form-inline">

                                <div class="d-flex flex-row">

                                    <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Enter Email '" required="" type="email">


                                    <button class="click-btn btn btn-default">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    </button>
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                               type="text">
                                    </div>
                                </div>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget mail-chimp">
                        <h6 class="mb-20">Instafeed</h6>
                        <ul class="instafeed d-flex flex-wrap">
                            <li><img src="~/Content/home/img/instagram/i1.jpg" alt=""></li>
                            <li><img src="~/Content/home/img/instagram/i2.jpg" alt=""></li>
                            <li><img src="~/Content/home/img/instagram/i3.jpg" alt=""></li>
                            <li><img src="~/Content/home/img/instagram/i4.jpg" alt=""></li>
                            <li><img src="~/Content/home/img/instagram/i5.jpg" alt=""></li>
                            <li><img src="~/Content/home/img/instagram/i6.jpg" alt=""></li>
                            <li><img src="~/Content/home/img/instagram/i7.jpg" alt=""></li>
                            <li><img src="~/Content/home/img/instagram/i8.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
            <div class="container">
                <div class="row justify-content-between">
                    <div>
                        <p class="footer-text m-0">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Travel
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->

}
@section Script{
    @RenderSection("Script", required: false)
}