﻿@model IEnumerable<Supermarket.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Employees
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.employeeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.employeePhone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.employeeAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.createdDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AspNetUser.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Office.officeAddress)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.employeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.employeePhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.employeeAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.createdDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Office.officeAddress)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.employeeCode }) |
                                @Html.ActionLink("Details", "Details", new { id = item.employeeCode }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.employeeCode })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
