﻿@{
    List<string> productsName = (List<string>)ViewData["productsName"];
    List<string> availableQty = (List<string>)ViewData["availableQty"];
    List<string> qlisQty = (List<string>)ViewData["qlisQty"];
}

@{
    var myChart = new Chart(width: 500, height: 450, theme: ChartTheme.Blue)
        .AddTitle("Products Left In Stock")
        .AddSeries(
            name: "Available",
            xValue: productsName,
            yValues: availableQty)
        .AddSeries(
            name: "LIS",
            xValue: productsName,
            yValues: qlisQty)
        .AddLegend()
        .Write();
}
