﻿@{
    ViewBag.Title = "Home Page";
}

<style>
    .chart {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .chart img {
        width: 100%;
        height: 450px;
        object-fit: contain;
    }

    .chart under {
        margin-top: 50px;
    }
</style>

<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">@ViewBag.CustomersNumber Customers</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/Customers/Index">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">@ViewBag.EmployeesNumber Employees</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/Employees/Index">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">@ViewBag.OrdersNumber Orders!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/Orders/Index">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">@ViewBag.ProductsNumber Products</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/Products/Index">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>

<div class="chart row">
    <div class="col-lg-6">
        <img src="@Url.Action("PieChart")" />
    </div>
    <div class="col-lg-6">
        <img src="@Url.Action("ColumnChart")" />
    </div>
    <div class="col-lg-12 under">
        <img src="@Url.Action("MonthlyChart")" />
    </div>
</div>