﻿@{
    List<string> name = (List<string>)ViewData["Name"];
    List<string> qtySold = (List<string>)ViewData["QtySold"];
}

@{
    var myChart = new Chart(width: 500, height: 450, theme: ChartTheme.Blue)
        .AddTitle("Total Sold Product")
        .AddSeries(
            chartType: "Pie",
            xValue: name,
            yValues: qtySold)
        .AddLegend()
        .Write();
}
