﻿<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Assets/Upload/logo_mini.png" />

    <!-- Title Page-->
    <title>Admin</title>

    <!-- Fontfaces CSS-->
    @Styles.Render("~/Content/admin-theme/font-face.css")
    @Styles.Render("~/Content/vendor/font-awesome-4.7/css/font-awesome.min.css")
    @Styles.Render("~/Content/vendor/font-awesome-5/css/fontawesome-all.min.css")
    @Styles.Render("~/Content/vendor/mdi-font/css/material-design-iconic-font.min.css")

    <!-- Bootstrap CSS-->
    @Styles.Render("~/Content/vendor/bootstrap-4.1/bootstrap.min.css")

    <!-- Vendor CSS-->
    @Styles.Render("~/Content/vendor/animsition/animsition.min.css")
    @Styles.Render("~/Content/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css")
    @Styles.Render("~/Content/vendor/wow/animate.css")
    @Styles.Render("~/Content/vendor/css-hamburgers/hamburgers.min.css")
    @Styles.Render("~/Content/vendor/slick/slick.css")
    @Styles.Render("~/Content/vendor/select2/select2.min.css")
    @Styles.Render("~/Content/vendor/perfect-scrollbar/perfect-scrollbar.css")
    @Styles.Render("~/Content/vendor/sweet_alert/sweet_alert.min.css")
    @Styles.Render("~/Content/vendor/toastr/toastr.css")
    @Styles.Render("~/Content/vendor/summernote/summernote-bs4.css")
    @Styles.Render("~/Content/animate.css")


    <!-- Main CSS-->
    @Styles.Render("~/Content/admin-theme/theme.css")

    @RenderSection("Css", required: false)
</head>
<body class="animsition">
    @RenderSection("Header", required: false)
    @RenderBody()
    <!-- Jquery JS-->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <!-- Bootstrap JS-->
    @Scripts.Render("~/Content/vendor/bootstrap-4.1/popper.min.js")
    @Scripts.Render("~/Content/vendor/bootstrap-4.1/bootstrap.min.js")
    <!-- Vendor JS       -->
    @Scripts.Render("~/Content/vendor/slick/slick.min.js")
    @Scripts.Render("~/Content/vendor/wow/wow.min.js")
    @Scripts.Render("~/Content/vendor/animsition/animsition.min.js")
    @Scripts.Render("~/Content/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js")
    @Scripts.Render("~/Content/vendor/counter-up/jquery.waypoints.min.js")
    @Scripts.Render("~/Content/vendor/counter-up/jquery.counterup.min.js")
    @Scripts.Render("~/Content/vendor/circle-progress/circle-progress.min.js")
    @Scripts.Render("~/Content/vendor/perfect-scrollbar/perfect-scrollbar.js")
    @Scripts.Render("~/Content/vendor/chartjs/Chart.bundle.min.js")
    @Scripts.Render("~/Content/vendor/select2/select2.min.js")
    @Scripts.Render("~/Content/vendor/sweet_alert/sweet_alert.min.js")
    @Scripts.Render("~/Content/vendor/toastr/toastr.min.js")
    @Scripts.Render("~/Content/vendor/summernote/summernote-bs4.js")
    @Scripts.Render("~/Scripts/admin/main.js")

    @RenderSection("Script", required: false)
</body>
</html>